@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Source+Code+Pro:wght@300;400&display=swap');
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, input, textarea, select, button, th, td, blockquote, figure {margin:0;padding:0}
body {-webkit-text-size-adjust:none}
ul, ol, li {list-style:none}
a {color:#0080cc;text-decoration:none}
img {max-width:100%;border:none;vertical-align:top}
button, input[type=button], input[type=submit] {-webkit-appearance:none;-webkit-border-radius:none}
.blind {visibility:hidden; overflow:hidden; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0}
.hljs {display:block;padding:20px;font-family:'Source Code Pro';font-size:13px}
.wrap {max-width:1120px;margin:0 auto;padding:60px 0;font-family:'Noto Sans KR'}
.h2 {margin-bottom:40px}
.h3 {margin-top:30px}
.h4 {margin-top:20px;margin-bottom:10px}
.section {padding-top:60px}
.img {margin:10px 0}
.tabs ~ .tabs {margin-top:20px}
.list-float li a {display:block;color:#333}
.list-float li a.active {font-weight:bold;text-decoration:underline}
.result {position:relative}
.result .ipt {margin:5px 0}
.result .slt {margin:5px 0}
.swiper-scrollbar {height:5px;background:#eee}
@media screen and (max-width:1120px) {
	.wrap {padding:50px 25px}
	.section {padding-top:50px}
	.h2 {margin-bottom:20px;font-size:2em}
}