@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Source+Code+Pro:wght@300;400&display=swap');
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, input, textarea, select, button, th, td, blockquote, figure {margin:0;padding:0}
body {-webkit-text-size-adjust:none}
ul, ol, li {list-style:none}
a {color:#0080cc;text-decoration:none}
img {max-width:100%;border:none;vertical-align:top}
button, input[type=button], input[type=submit] {-webkit-appearance:none;-webkit-border-radius:none}
.blind {visibility:hidden; overflow:hidden; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0}
.hljs {display:block;padding:20px;font-family:'Source Code Pro';font-size:13px}

.wrap {max-width:1120px;margin:0 auto;font-family:'Noto Sans KR'}
.h2 {margin-bottom:20px}
.h3 {margin-top:20px}
.h4 {margin-top:20px;margin-bottom:10px}


.section {padding:50px 0}
