@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Roboto:wght@100;400;700&family=Source+Code+Pro:wght@300;400&display=swap');
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,input,textarea,select,button,th,td,blockquote {margin:0;padding:0}
body {-webkit-text-size-adjust:none}
ul,ol,li {list-style:none}
a {color:#0080cc;text-decoration:none}
img {max-width:100%;border:none;vertical-align:top}
button, input[type=button], input[type=submit] {-webkit-appearance:none;-webkit-border-radius:none}
.blind {visibility:hidden; overflow:hidden; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0}

/* highlight */
pre {margin:10px 0}
code {font-family:'Source Code Pro';padding:15px !important;font-size:13px}
.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta-keyword, .hljs-name, .hljs-selector-tag {font-weight:normal}
/* content */
.wrap {max-width:1120px;margin:0 auto;padding:40px;font-family:'Noto Sans KR','Roboto','serif';font-size:16px;color:#111;line-height:1.6}
.header {margin-bottom:40px}
.header .description {margin-top:10px}
.section {margin:26px 0}
.article {padding:15px 30px}
.result {margin:10px 0;padding:15px 20px;border:1px solid #eee}
hr {border-color#ddd}
