@charset "UTF-8"; /*reset*/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, input, textarea, select, button, th, td, blockquote {margin:0;padding:0}
body {-webkit-text-size-adjust:none}
a {color:#0080cc;text-decoration:none}
img {max-width:100%;border:none;vertical-align:top}
button, input, select, textarea {font-family:inherit}
button, input[type=button], input[type=submit] {-webkit-appearance:none;-webkit-border-radius:none}
button {border:none;background:none;cursor:pointer}
.blind {visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

body.modal-open {overflow:hidden;padding-right:17px}
.wrap {padding-bottom:80px;color:#222;line-height:1.625}
h1 {font-size:3em}
h2 {font-size:2.2em}
h3 {font-size:1.4em}
h4 {font-size:1.2em}
.green {background:hsl(226, 64%, 86%)}
.coral {background:hsl(23, 83%, 82%)}
.blue {background:hsl(189, 36%, 63%)}
.yellow {background:hsl(42, 31%, 67%)}
.grey {background:#d7d5d5}
/*BUTTON*/
.btn {display:inline-block;margin:0.2em;padding:0.4em 1em;border:1px solid #ddd;border-radius:4px;background:none;font-size:inherit;color:#333;line-height:inherit;vertical-align:top;box-sizing:border-box;text-align:center;cursor:pointer}
.btn__text {font-size:0.8em}
.btn--large {padding:0.8em 2em}
.btn--large .btn__text {font-size:1.2em}
.btn--medium {padding:0.5em 1.2em}
.btn--medium .btn__text {font-size:1em}
.btn--small {padding:0.2em 0.8em}
.btn--small .btn__text {font-size:0.8em}
.btn--primary {border-color:#0080cc;background:#0080cc;color:#fff}
.btn--secondary {border-color:#0080cc;color:#0080cc}
.btn--notice {border-color:#f79148;background:#f79148;color:#fff}
.btn--disabled {border-color:#aaa;background:#aaa;color:#fff}
.btn--full {width:100%}
.btn--fixed {min-width:200px}
/*TYPOGRAPHY*/
.title small {font-size:0.5em;color:grey}
.subtitle small {font-size:0.5em;color:grey}
.slogan small {font-size:0.5em;color:grey}
.description {font-size:0.8em}
/*ICON*/
.icon {display:inline-block;position:relative;width:52px;height:52px;background-image:url(../imgs/sprite.png);background-repeat:no-repeat}
.icon-home {background-position:0 0}
.icon-home--primary {background-position:0 -104px}
.icon-home--point {background-position:0 -52px}
.icon-member {background-position:-156px 0}
.icon-member--primary {background-position:-156px -104px}
.icon-member--point {background-position:-156px -52px}
/*ICON 2X*/
.i {display:inline-block;position:relative;width:26px;height:26px;background-image:url(../imgs/sprite.png);background-repeat:no-repeat;background-size:104px 104px}
.i-home {background-position:0 0}
.i-home--primary {background-position:0 -52px}
.i-home--point {background-position:0 -26px}
.i-member {background-position:-78px 0}
.i-member--primary {background-position:-78px -52px}
.i-member--point {background-position:-78px -26px}
/*INPUT*/
.ipt {display:block;width:100%;padding:10px;border:1px solid #ccc;box-sizing:border-box;outline:none}
.ipt--lg {padding:15px}
.ipt--disabled {background:#eee}
.slt {display:block;width:100%;padding:10px;border:1px solid #ccc;outline:none}
.slt--icon {-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMjFsLTEyLTE4aDI0eiIvPjwvc3ZnPg==") no-repeat calc(100% - 20px) 50%;background-size:12px 12px}
/*LIST*/
.list {display:flex;justify-content:space-between}
.list li {flex-basis:calc(25% - 10px);padding:10px;color:#333;text-align:center;box-sizing:border-box}
.list-float {overflow:hidden;margin:0 -5px}
.list-float li {float:left;width:calc(25% - 10px);margin:0 5px;padding:10px;color:#333;text-align:center;box-sizing:border-box}
.list-text li {max-width:400px;margin:5px 0;padding-left:15px;line-height:1.4}
.list-text li:before {content:'·';display:inline-block;text-indent:-10px}
/*TABLE*/
.table-wrap {margin:10px 0}
.table {table-layout:fixed;width:100%;border-spacing:0;text-align:center}
.table th, .table td {padding:10px}
.table th {background:#eee}
.table--label {border-top:1px solid #eee}
.table--label td {border-bottom:1px solid #eee}
/*TAB*/
.tab-content {display:none}
/*MODAL*/
.modalbg {display:none;position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;opacity:0.5}
.modal {display:none;overflow-x:hidden;overflow-y:auto;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1}
.modal__wrap {display:flex;min-height:100%;padding:50px 0;justify-content:center;align-items:center;box-sizing:border-box}
.modal__inner {flex-basis:500px}
.modal__box {padding:15px 25px;border-radius:10px;background:#fff}
.modal__header {position:relative;padding:10px 0;font-size:2em}
.modal__header button {position:absolute;top:50%;right:20px;margin-top:-12px}
.modal__header button img {width:25px}
.modal__body {margin:10px 0}
.modal__footer {padding:10px 0;font-size:1.6em}
