@charset "UTF-8"; /*reset*/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, input, textarea, select, button, th, td, blockquote {margin:0;padding:0}
body {-webkit-text-size-adjust:none}
a {color:#0080cc;text-decoration:none}
img {max-width:100%;border:none;vertical-align:top}
button, input, select, textarea {font-family:inherit}
button, input[type=button], input[type=submit] {-webkit-appearance:none;-webkit-border-radius:none}
.blind {visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

.wrap {color:#222;line-height:1.625}
h2 {font-size:2em}
h3 {font-size:1.6em}
h4 {font-size:1.2em}
/*BUTTON*/
.btn {display:inline-block;padding:6px 12px;border:1px solid #d8d8d8;border-radius:4px;background:none;font-family:inherit;font-size:14px;color:inherit;line-height:inherit;text-align:center;vertical-align:top;user-select:none;cursor:pointer;outline:none;box-sizing:border-box}
.btn--primary {border-color:#222;background:#222;color:#fff}
.btn--success {border-color:#0080cc;background:#0080cc;color:#fff}
.btn--secondary {border-color:#FFEB60;background:#FFEB60;color:#222}
.btn--alert {border-color:#ee1c29;background:#ee1c29;color:#fff}
.btn--disabled {border-color:#d8d8d8;background:#d8d8d8;color:#999}
.btn--md {padding:12px 24px;font-size:1em}
.btn--lg {padding:20px 30px;font-size:1.2em}
.btn--full {width:100%}
.btn--fixed {min-width:200px}
/*GRID*/
.row {margin:2px 0}
.row:after {content:'';display:table;clear:both;}
.row [class^=col-] {padding:5px;border:1px solid #dedede;font-size:12px;color:#999;box-sizing:border-box}
/*GRID - responsive */
.col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-6, .col-m-8, .col-m-10, .col-m-12 {float:left}
.col-m-1 {width:8.33333333%}
.col-m-2 {width:16.66666666%}
.col-m-3 {width:25%}
.col-m-4 {width:33.33333333%}
.col-m-6 {width:50%}
.col-m-8 {width:66.66666666%}
.col-m-10 {width:83.33333333%}
.col-m-12 {width:100%}
.col-m-offset-1 {margin-left:8.33333333%}
.col-m-offset-2 {margin-left:16.66666666%}
.col-m-offset-3 {margin-left:25%}
.col-m-offset-4 {margin-left:33.33333333%}
.col-m-offset-6 {margin-left:50%}
.col-m-offset-8 {margin-left:66.66666666%}
.col-m-offset-10 {margin-left:83.33333333%}
@media (min-width:769px) and (max-width:1024px) {
	.col-t-1, .col-t-2, .col-t-3, .col-t-4, .col-t-6, .col-t-8, .col-t-10, .col-t-12 {float:left}
	.col-t-1 {width:8.33333333%}
	.col-t-2 {width:16.6666666%}
	.col-t-3 {width:25%}
	.col-t-4 {width:33.33333333%}
	.col-t-6 {width:50%}
	.col-t-8 {width:66.66666666%}
	.col-s-10 {width:83.33333333%}
	.col-t-12 {width:100%}
	.col-t-offset-1 {margin-left:8.33333333%}
	.col-t-offset-2 {margin-left:16.66666666%}
	.col-t-offset-3 {margin-left:25%}
	.col-t-offset-4 {margin-left:33.33333333%}
	.col-t-offset-6 {margin-left:50%}
	.col-t-offset-8 {margin-left:66.66666666%}
	.col-t-offset-10 {margin-left:83.33333333%}
}
@media (min-width:1025px) {
	.col-d-1, .col-d-2, .col-d-3, .col-d-4, .col-d-6, .col-d-8, .col-d-10, .col-d-12 {float:left}
	.col-d-1 {width:8.33333333%}
	.col-d-2 {width:16.6666666%}
	.col-d-3 {width:25%}
	.col-d-4 {width:33.33333333%}
	.col-d-6 {width:50%}
	.col-d-8 {width:66.66666666%}
	.col-d-10 {width:83.33333333%}
	.col-d-12 {width:100%}
	.col-d-offset-1 {margin-left:8.33333333%}
	.col-d-offset-2 {margin-left:16.66666666%}
	.col-d-offset-3 {margin-left:25%}
	.col-d-offset-4 {margin-left:33.33333333%}
	.col-d-offset-6 {margin-left:50%}
	.col-d-offset-8 {margin-left:66.66666666%}
	.col-d-offset-10 {margin-left:83.33333333%}
}
/*ICON*/
.i {display:inline-block;background-repeat:no-repeat;vertical-align:top;text-indent:-9999px}
.i-checkbox {width:20px;height:20px;background-image:url(../imgs/sprite_checkbox.png)}
.i-checkbox--default {background-position:-10px -10px}
.i-checkbox--checked {background-position:-50px -10px}
.i-checkbox--alert {background-position:-10px -50px}
.i-sns {width:25px;height:25px;background-image:url(../imgs/sprite_sns.png)}
.i-sns--naver {background-position:-55px -10px}
.i-sns--kakao {background-position:-10px -55px}
.i-sns--fb {background-position:-10px -10px}
/*LIST*/
.list {line-height:1.4}
.list--blit li {padding:5px 0;padding-left:14px}
.list--blit li span {display:inline-block;text-indent:-14px}