@charset "UTF-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,input,textarea,select,button,th,td,blockquote {margin:0;padding:0}
body {-webkit-text-size-adjust:none}
a {color:#0080cc;text-decoration:none}
img {max-width:100%;border:none;vertical-align:top}
button, input, select, textarea {font-family:inherit}
button, input[type=button], input[type=submit] {-webkit-appearance:none;-webkit-border-radius:none}
.blind {visibility:hidden; overflow:hidden; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0}

/*** WEB-COMPONENT ***/

/* theme */
.wrap {font-family:'Noto Sans KR','Roboto','serif';font-size:16px;line-height:1.43;color:#333}
.left {text-align:left}
.description {line-height:1.67}

/*layout*/
.list {
	display:flex;
}
.list li {
	flex-basis:25%;
	padding:20px;
}
.list-box li {
	margin:10px 0;
}


/* typography */
.h1 {font-size:40px}
.h2 {margin-bottom:10px;font-size:34px}
.h3 {margin-top:24px;margin-bottom:10px;font-size:26px;color:#444}
.h4 {margin-top:15px;margin-bottom:10px;font-size:20px;color:#666}
.h6 {margin-bottom:15px;font-size:14px;color:#888;}
small, .small {font-size:65%;color:#666}

/*table*/
.table {
	table-layout:fixed;
	width:100%;
	border-spacing:0;
	text-align:center;
}
.table th, .table td {
	padding:5px 10px;
}
.table th {
	background:#eee;
}
.table td {
	border-bottom:1px solid #eee;
}
.table--label tr:first-child td {
	border-top:1px solid #eee;
}
/*button*/
.btn {
	display:inline-block;
	padding:6px 12px;
	border:1px solid transparent;
	border-radius:4px;
	background:none;
	font-family:inherit;
	font-size:14px;
	color:#333;
	line-height:1.43;
	text-align:center;
	vertical-align:top;
	user-select:none;
	cursor:pointer;
	outline:none;
}
.btn-large {
	padding:12px 18px;
	font-size:16px;
}
.btn-small {
	padding:4px 8px;
	font-size:12px;
}
.btn-default {
	border-color:#ccc;
}
.btn-success {
	background:#0080cc;
	color:#fff;
}
.btn-alert {
	background:#cc1f00;
	color:#fff;
}
.btn-info {
	background:#00cc3a;
	color:#fff;
}
.btn-link {
	color:#0080cc;
}
/*forms*/
label {
	display:inline-block;
	margin-bottom:5px;
	font-weight:700;
	color:#333;
}
.checkbox label, .radio label {
	margin-bottom:0;
	padding-left:20px;
	font-weight:400;
}
.form-group {
	margin-bottom:15px
}
.form-input {
	display:block;
	width:100%;
	padding:6px 12px;
	border:1px solid #ccc;
	color:#555;
	box-sizing:border-box;
	outline:none;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075)
}
.form-input:focus {
	border-color:#333;
}
.form-inline .form-group {
	display:inline-block;
}
.form-inline .form-input {
	display:inline-block;
	width:auto;
}
.form-horizontal label {
	text-align:right
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
	content:'';
	display:table;
	clear:both;
}
input[type=checkbox], input[type=radio] {
	margin:6px 0 0;
}
.checkbox input[type=checkbox],
.radio input[type=radio]{
	position:absolute;
	margin-left:-20px;
}
.checkbox-inline .checkbox,
.radio-inline .radio {
	display:inline-block
}
.checkbox-inline .checkbox + .checkbox,
.radio-inline .radio + .radio {
	margin-left:10px
}
.select {
	display:block;
	width:100%;
	padding:6px;
	border:1px solid #ccc;
	color:#555;
	box-sizing:border-box;
	outline:none;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075)
}
.select-inline .select {
	display:inline-block;
	width:auto;
}
.textarea {
	display:block;
	width:100%;
	padding:10px;
	border:1px solid #ccc;
	color:#555;
	box-sizing:border-box;
	outline:none;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075)
}
/* grid */
.row:after {
	content:'';
	display:table;
	clear:both;
}
.col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-6, .col-s-8, .col-s-10, .col-s-12,
.col-t-1, .col-t-2, .col-t-3, .col-t-4, .col-t-6, .col-t-8, .col-t-10, .col-t-12,
.col-d-1, .col-d-2, .col-d-3, .col-d-4, .col-d-6, .col-d-8, .col-d-10, .col-d-12 {
	padding:0 15px;
	box-sizing:border-box;
}
@media (max-width: 768px) {
	.col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-6, .col-s-8, .col-s-10, .col-s-12 {float:left}
	.col-s-1 {width:8.33333333%}
	.col-s-2 {width:16.66666666%}
	.col-s-3 {width:25%}
	.col-s-4 {width:33.33333333%}
	.col-s-6 {width:50%}
	.col-s-8 {width:66.66666666%}
	.col-s-10 {width:83.33333333%}
	.col-s-12 {width:100%}
}
@media (min-width:769px) and (max-width:1024px) {
	.col-t-1, .col-t-2, .col-t-3, .col-t-4, .col-t-6, .col-t-8, .col-t-10, .col-t-12 {float:left}
	.col-t-1 {width:8.33333333%}
	.col-t-2 {width:16.6666666%}
	.col-t-3 {width:25%}
	.col-t-4 {width:33.33333333%}
	.col-t-6 {width:50%}
	.col-t-8 {width:66.66666666%}
	.col-s-10 {width:83.33333333%}
	.col-t-12 {width:100%}
}
@media (min-width:1025px) {
	.col-d-1, .col-d-2, .col-d-3, .col-d-4, .col-d-6, .col-d-8, .col-d-10, .col-d-12 {float:left}
	.col-d-1 {width:8.33333333%}
	.col-d-2 {width:16.6666666%}
	.col-d-3 {width:25%}
	.col-d-4 {width:33.33333333%}
	.col-d-6 {width:50%}
	.col-d-8 {width:66.66666666%}
	.col-d-10 {width:83.33333333%}
	.col-d-12 {width:100%}
}

/*reponsive*/
@media (max-width:1024px) {
	.h1 {font-size:30px}
	.h2 {margin-bottom:10px;font-size:26px}
	.h3 {margin-top:20px;margin-bottom:10px;font-size:22px;color:#444}
	.h4 {margin-top:15px;margin-bottom:10px;font-size:18px;color:#666}
	.h6 {margin-bottom:15px;font-size:14px;color:#888;}
	.article {padding:0 12px}
}