@charset "utf-8";

/* 주문/결제하기 */
.contents_wrap > .cont_cart, 
.contents_wrap .accordion_list {border-bottom:1px solid #e2e2e2; box-shadow: 0 7px 0 0 #eee; margin-bottom: 7px;}
.contents_wrap .cont_cart > section {border-bottom:1px solid #e2e2e2; box-shadow: 0 7px 0 0 #eee;}

.accordion_list .lists {border-top:0;}
.payment .cart_item:first-child {border-top:none;}
.payment .cart_item .opt .num, .payment .cart_item .opt > dt {display:inline-block; padding-right:0;}

.cont_cart .n-txt01 { font-size: 12px; text-indent: -8px; padding-left: 8px; margin: 0 17px 20px; word-break: keep-all; color:#989898;}
.cont_cart .n-txt01 li {margin-top:5px}
.cont_cart .n-txt01 li:first-child {margin-top:0}
.cont_cart .title > strong {float:right;}
.cont_cart .title > strong .point_color {font-weight:bold !important}



/* 주문/결제하기 - 이미지 선택 swiper */
.swiper-img-select {position:relative; overflow:hidden; padding: 0.85rem 0 2.52rem; margin-left:4.68vw;}
.swiper-img-select li {text-align:center; font-size:16px; display:block; margin-right:1.56vw;}
.swiper-img-select li > img {width:100%;}
.swiper-img-select li .input_checkbox > span {
	margin-top:6px;
	font-size:14px;
	text-align:left;
	word-break:break-all;
	vertical-align:top;
}
.swiper-img-select .input_checkbox input[type=radio] {
	position:absolute;
	visibility:hidden;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}

/* 주문/결제하기 - 결제하기 */
.pay_opt label.pay_button {width: 85px;}
.pay_opt li {display: table-cell; padding: 0 7px; text-align: center;}
.pay_opt label.pay_button.t1 input + span {background-image: url(../../../img/client/client_kyobo/pay_button1.png);}
.pay_opt label.pay_button.t2 input + span {background-image: url(../../../img/client/client_kyobo/pay_button2.png);}
.pay_opt label.pay_button.t3 input + span {background-image: url(../../../img/client/client_kyobo/pay_button3.png);}
.pay_opt label.pay_button input + span {height: 70px; padding-top: 48px; margin: 0 auto; background: 50% 0 no-repeat; background-size: cover; border: 1px solid #ccc;}
.pay_opt label input:checked + span {border-color: transparent; background-position: 50% -68px;}
.pay_opt .comm {color:#989898;}
.recheck_wrap .accordion_list .lists .accor_title.no_button .input_checkbox > span > span {color:#989898;}


/* 공통 */
.mb10 {margin-bottom:10px;}




















